body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    /* width: 1024px;
    height: 768px; */
    line-height: 2;
}

ol li ul li{
    list-style-type: disc;
}

img {
    height: 200px;
}

div.container {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}

div.image {
    position: relative;
    top: 103px;
    right: 226px;
}

div.CV {
    margin-left: 0px;
}

div.code {
    background-color: #ecebeb;
    font-size: 12px;
}
